@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Jura:wght@700&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
}

body {
    margin: 40px;
}

::selection {
    color: rgb(184, 184, 184);
    background: url(images/highlightPic.jpeg);
    border-radius: 10px;
    text-shadow: 2px 2px rgba(139, 139, 139, 0.185);
}

:focus {
    outline: none;
}

div {
    margin: 10px 0px 10px 0px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: black;
}

a:active {
    text-shadow: 2px 2px gray;
}

/* Buttons */
button {
    border: 2px solid;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    color: gray;
}

button:active {
    color: black;
}

/* Microwave */
#microwave {
    background-color: gray;
    padding: 30px;
    width: 600px;
    height: 300px;
    border: 20px solid rgb(185, 185, 185);
    border-radius: 50px;
}

/* Oven Part of Microwave */
#oven {
    float: left;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    width: 350px;
    height: 280px;
    transition: background-color 0.2s;
}

/* Screen */
#screen {
    float: right;
    text-align: center;
    font-weight: 1000;
    font-family: 'Jura', sans-serif;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    width: 210px;
    height: 270px;
}

#feedback, #heated {
    transition: color 0.3s;
}


/* Screen Buttons */
#screen button {
    position: relative;
    top: 100px;
}

/* Power Button */
#toggleBtn {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    transition: background-color 0.3s;
}